# Server Config
PORT=5000
FLASK_ENV=development

# JWT Config (비밀키 예시)
SECRET_KEY=your_jwt_secret_key_here

# MongoDB Connection (DB 주소 예시)
MONGO_URI=mongodb://name:password@localhost:27017/my_db

# 로컬 개발용 AWS 자격증명
AWS_ACCESS_KEY_ID=본인의_ACCESS_KEY
AWS_SECRET_ACCESS_KEY=본인의_SECRET_KEY
AWS_REGION=ap-northeast-2
AWS_BUCKET_NAME=본인의_버킷이름