{% extends "header.html" %}

{% block head %}
<style>
    * {
        font-family: 'Noto Sans KR', sans-serif;
    }

    .profile-img-dh {
        width: 200px !important;
        height: 200px !important;
        object-fit: cover;
        margin: 0 auto;
        border-radius: 10px;
    }

    .profile {
        margin: 30px;
        width: calc(100% - 60px);
        height: calc(100dvh - 60px - 10dvh);
    }

    .profile-user-info {
        display: flex;
        flex-direction: column;
        align-items: start;
        max-width: 20%;
    }

    .profile-user-info-text {
        font-size: 24px;
        font-weight: 500;
        color: #000000;
    }

    .profile-line {
        width: 200px;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #000000;
    }

    .profile-desc {
        margin: 1%;
        margin-top: 0.5%;
        padding: 1%;
        min-width: 97%;
        max-width: 97%;
        overflow-y: auto;
        text-wrap-mode: wrap;
    }

    .profile-tag-list {
        margin: 1%;
        padding: 2%;
        min-height: 10%;
        max-height: 15%;
        overflow-y: auto;
    }

    .profile-tag {
        flex: 0 0 auto;
        padding: 5px 10px;
        margin:5px;
        background-color: gray;
        border-radius: 10px;
        max-height: fit-content;
    }

    .profile-info-fix-btn {
        min-width: 100%;
    }

    .profile-info-input-field {
        margin: 5px;
        width: 50%;
    }

    .profile-info-input-field-2 {
        margin: 5px;
    }

    .custom-select {
        margin: 5px;
    }

    .profile-id-button {
        margin: 5px;
    }

    .custom-button {
        background-color: gray;
    }

    .profile-fix-desc {
        display: flex;
        flex-direction: column;
        height: 50%;
    }

    .left {
        justify-content: flex-start;
    }

    .center {
        justify-content: center;
    }

    .right {
        justify-content: flex-end;
    }

    .container {
        display: flex;
    }

    .profile-default-info {
        display: flex;
        flex-direction: row;
        max-height: 10%;
    }

    .select-button {
        background-color: #AEE996;
        color: black;
    }

    .select-button:hover {
        background-color: #4DA359;
    }

    .file-button {
        cursor: pointer;
        width: 50%;
    }

    .sch-tag {
        font-size: 2em;
        background-color: black;
        width: 200px;
        height: 50px;
    }
</style>
 
<script>
    let canId = false;
    let checkedId = false;

    document.addEventListener("DOMContentLoaded", function () {
        const imgInput = document.getElementById("img-input");
        const imgInputButton = document.getElementById("img-input-button");
        const removeButton = document.getElementById("img-remove-button");
        const profileImg = document.getElementById("profile-img");
        const idInput = document.getElementById("id-field");

        // db에서 받아왔다 치고
        const testTags = ["게임", "게임2", "게임3", "고양이", "개", "개발", "SW", "AI"];

        // 이쁜 디자인의 버튼 클릭하면 실제 숨겨진 img업로드 버튼이 눌림
        imgInputButton.addEventListener("click", function () {
            imgInput.click();
        });
        
        imgInput.addEventListener("change", function () {
            const file = imgInput.files[0];
            if (file) {
                console.log(file.name);
                const reader = new FileReader();

                reader.onload = function (e) {
                    profileImg.src = e.target.result;
                }

                reader.readAsDataURL(file);
            }
        });
        removeButton.addEventListener("click", function () {
            profileImg.src = "{{ url_for('static', filename='images/IMG_0224.jpg')}}";
        });
        idInput.addEventListener("change", function()
        {
            canId = false;
            checkedId = false;
        })
    });

    function deleteAccount() {
        // to server
    }
    function onClickAddTagBtn() {
        let tags = $(`#tags`);
        let addBtn = tags.find(".custom-button");
        let input_html = `<div id="taginput"><input id="schTag" list="tag-list" class="input tag-name-input" placeholder="태그 이름 입력" type="text"/ style="margin-bottom:5px";> <button class="button" onclick="addTag()" style="background-color: #6CBA61;">추가</button></div>`;

        addBtn.replaceWith(input_html);
    }
    function addTag() {
        let taginput = $(`#taginput`);
        let temp = taginput.find(".tag-name-input");
        let tagname = temp.val();

        if (!tagname)
            return;

        let tag_html = `<div class="column profile-tag" style="background-color: #6CBA61;">${tagname}</div>`;
        $("#tags").append(tag_html);

        let input_html = `<button class="button custom-button" onclick="onClickAddTagBtn()" style="background-color: #6CBA61; margin-right: 10px;">+</button>`;
        taginput.replaceWith(input_html);
    }
    function save() {
        // to server
        const oldId = "{{userId}}";
        const newId = document.getElementById("id-field").value;

        if(oldId == newId)
        {
            checkedId = true;
            canId = true;
        }
        else if (!checkedId) 
        {
            alert("아이디 중복 확인 해주세요.");
            return;
        }
        else if (!canId) {
            alert("중복된 아이디 입니다. 변경해주세요.");
            return;
        }

        const profileImg = document.getElementById("profile-img");
        const name = document.getElementById("name-field");
        const id = document.getElementById("id-field");
        const lab = document.getElementById("lab-field");
        const gen = document.getElementById("gen-field");
        const num = document.getElementById("num-field");
        const desc = document.getElementById("desc-field");
        const tags = document.getElementById("tags").children;
        const imgInput = document.getElementById("img-input");

        let tagTexts = [];
        for (let i = 0; i < tags.length; ++i) {
            if (tags[i].classList.contains("profile-tag")) {
                tagTexts.push(tags[i].textContent.trim());
            }
        }

        const formData = new FormData();
        formData.append('name', name.value);
        formData.append('id', id.value);
        formData.append('lab', lab.value);
        formData.append('gen', gen.value);
        formData.append('num', num.value);
        formData.append('desc', desc.value);
        formData.append('tags', JSON.stringify(tagTexts));

        if(imgInput.files.length > 0)
        {
            formData.append("profileImg", imgInput.files[0]);
        }

        $.ajax({
            type: "PATCH",
            url: `/userInfoPatch`,
            data: formData,
                processData: false, // formData 사용 시 필수
                contentType: false, // formData 사용 시 필수

            success: function (response) {
                alert("저장 성공!");
                window.location.href = `/description`;
            },
            error: function () {
                alert("저장 실패!");
            }
        })
    }
    function backspace() {
        history.back();
    }
    function checkId() {
        const id = document.getElementById("id-field").value;

        // to server
        $.ajax({
            type: "GET",
            url: `/checkId/${id}`,
            success: function (response) {
                if (response["result"] == "success") {
                    alert("사용할 수 있는 아이디입니다.");
                    canId = true;
                    checkedId = true;
                }
                else
                {
                    alert("사용할 수 없는 아이디입니다.");
                    canId = false;
                    checkedId = true;
                }
            },
            error: function () 
            { 
                alert("서버 요청 중 오류가 발생했습니다.");
            },
        });
    }
</script>
{% endblock %}

{% block content %}
<div class="columns">
    <div
        class="column is-narrow card profile profile-user-info is-flex is-justify-content-center is-align-items-center">
        <div class="card-image">
            <figure class="image">
                {% if imgPath %}
                    <img id="profile-img" class="profile-img-dh" src="{{imgPath}}" alt="테스트 프로필 이미지"style="border: 3px solid #AEE996; ">
                {% else %}
                    <img id="profile-img" class="profile-img-dh" src="{{ url_for('static', filename='images/IMG_0224.jpg')}}" alt="테스트 프로필 이미지"style="border: 3px solid #AEE996; ">
                {% endif %}
            </figure>
        </div>
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <!-- 이미지 넣기 버튼 but 디자인 별로여서 숨겨둠 이미지업로드 버튼 사용 -->
                    <input type="file" id="img-input" class="file-input" accept="image/*" hidden>
                    <div class="is-flex">
                        <button class="select-button file-button" id="img-input-button">이미지 업로드</button>
                        <button class="select-button file-button" id="img-remove-button"
                            style="background-color: #ea3030;">이미지 삭제</button>
                    </div>
                    <hr class="profile-line"> <br>
                    <div class="profile-user-info-text has-text-centered">{{name}}</div>
                    <div class="profile-user-id-text has-text-centered">{{userId}}</div> <br>
                    <div class="profile-user-info-text has-text-centered">{{lab}}</div> <br>
                    <div class="profile-user-info-text has-text-centered">{{gen}}-{{num}}</div> <br>
                    <div class="button profile-info-fix-btn" onclick="deleteAccount()"
                        style="background-color: #AEE996; color: #000000;">회원탈퇴</div>
                </div>
            </div>
        </div>
    </div>

    <div class="column card profile">
        <div class="profile-default-info">
            <input id="name-field" class="profile-info-input-field" placeholder="이름 변경" type="text" value="{{name}}"/>
            <input id="id-field" class="profile-info-input-field" placeholder="아이디 변경" type="text" value="{{userId}}"/>
            <button class="profile-id-button" style="background-color: #AEE996;" onclick="checkId()">중복 확인</button>
            <select id="lab-field" class="custom-select">
                <option value="SW-AI" {% if lab == "SW-AI" %}selected{% endif %}>SW-AI</option>
                <option value="GAME LAB" {% if lab == "GAME LAB" %}selected{% endif %}>GAME LAB</option>
                <option value="GAME TECH LAB" {% if lab == "GAME TECH LAB" %}selected{% endif %}>GAME TECH LAB</option>
            </select>
            <input id="gen-field" class="profile-info-input-field-2" placeholder="기수 변경" type="text" value="{{gen}}"/>
            <input id="num-field" class="profile-info-input-field-2" placeholder="번호 변경" type="text" value="{{num}}"/>
        </div>
        <div class="profile-fix-desc columns">
            <span class="is-size-4 column is-narrow"
                style="padding: 0; padding-left: 1%; margin-top: 2%; color:black;">내 정보 변경</span>
            <textarea id="desc-field" class="text-box profile-desc column">{{desc}}</textarea>
        </div>
        <span class="is-size-4" style="padding-left: 1%; color:black;">관심사 태그</span>
        <div class="card profile-tag-list">
            <div class="columns is-multiline" id="tags">
                <button class="button custom-button" onclick="onClickAddTagBtn()" style="background-color: #6CBA61; color: #000000; margin-right: 10px;">+</button>
                <datalist id="tag-list">
                    {% for tag in dbTags %}
                        <option value="{{tag}}">
                    {% endfor %}
                </datalist>
                {% for tag in tags %}
                    <div class="column profile-tag" style="background-color: #6CBA61;">{{tag}}</div>
                {% endfor %}
            </div>
        </div>
        <div class="container right">
            <button class="button" onclick="save()" style="background-color: #4DA359; color: #000000;">저장</button>
            <button class="button" onclick="backspace()" style="background-color: #da0000; color: #000;">취소</button>
        </div>
    </div>
</div>


{% endblock %}