<!-- 순서
    <1> 로그인 페이지 
        1.  제목 (css)
        2.  ID
        3.  PW (안보이게)
        4.  로그인 버튼
        5.  회원가입 버튼 (밑줄, 2페이지 이동)
 -->



<!-- ===================================================== -->
git add .
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Jungle Meeting | Log-in </title>
    <link rel="stylesheet" type="text/css" href = "log-in.css">
</head>

<body>
    <div class="log-in">

        <!-- 1 -->
        <div class="title">
            <h1>제목</h1>
        </div>
        
        <!-- 2 ID --> 
        <div class="ID">
            ID:         <input type="text"      placeholder="ID를 입력하세요." />
        </div>
            
        <!-- 3 PW -->
        <div class="PW">
            Password:   <input type="password"  placeholder="Password를 입력하세요." />
        </div>
            
        <div class="log-in button">
        <!-- 4 로그인 버튼 -->
            <button> 로그인하기 </button>
        </div>
    
        <div class="signup button">
        <!-- 5 회원가입 버튼 -->
             <a href="signup.html">회원가입 하기</a>
        </div>

    </div>

</body>
</html>